#hlHeader{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .title{
    font-size: @defaultSize * 1.6;
    font-weight: 600;
  }
  .nav-list{
    display: flex;
    align-items: center;
    i{
      font-size: @defaultSize + 6;
      margin-left: @defaultSize * 1.5;
    }
    .nav-user{
      display: flex;
      margin-left: @defaultSize * 1.5;
      .user-img{
        width: @defaultSize * 2.5;
        height: @defaultSize * 2.5;
        border-radius: 50%;
        background: #e6e6e6;
      }
      .user-name{
        margin-left: @defaultSize - 12;
        line-height: @defaultSize * 2.5;
      }
    }
  }
}