@import './reset.less';
#hlRouter {
  // height: @defaultSize*2.5;
  .shadowDefault;
  ul {
    display: flex;
    margin-top: @defaultSize * .25;
    margin-bottom: @defaultSize * .25;
    li {
      position: relative;
      .paddingRowDefault;
      .borderDefault;
      .handleDefault;
      .transitionDefault;
      font-size: @defaultSize * 0.875;
      height: @defaultSize * 2;
      line-height: @defaultSize * 2;
      margin-right: @defaultSize * 0.5;
      border-radius: @defaultSize * 0.25;
      .router-icon {
        opacity: 0;
        position: absolute;
        color: #ffffff;
        right: @defaultSize * 0.375;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 1000;
        .transitionDefault;
      }
      &.active{
        &::before {
          position: absolute;
          content: '';
          top: 50%;
          left: (@defaultSize / 1.6) * 0.6;
          transform: translate(0, -50%);
          width: @defaultSize / 1.6;
          height: @defaultSize / 1.6;
          border-radius: 50%;
          background: @whiteColor;
        }
      }
      &.active,
      &:hover {
        .btnAction;
        .router-icon {
          opacity: 1;
        }
      }
      &.default {}
    }
  }
}