@import './reset.less';

#hlTable {
  height: 100%;
  
  .table-box {
    @paginationheight: (@defaultSize * 2.5 + @defaultSize * 1.25);
    height: calc(~'100% - @{paginationheight}');
  }
  .pagination-box {
    display: flex;
    align-items: center;
    height: @defaultSize / 2.5;
    margin-top: @defaultSize * 1.25;
  }
}