#Login{
  position: relative;
  .login-box{
    width: 280px;
    padding: 20px;
    .boxCenter;
    border: @borderDefault;
    box-shadow: @shadowDefault;
    border-radius: @marginDefault - 12;
    .login-title{
      text-align: center;
      margin-bottom: @marginDefault;
    }
    .login-submit{
      width: 100%;
    }
  }
}