@defaultSize: 16px;
@whiteColor: #ffffff;
@activeColor: #10CFDD;
@activeColorHover: #62D5DD;
@headerColor: #222222;
@infoColor: #808080;
@redirectColor: #97a8be;
// 按钮默认色彩
.btnAction {
  color: @whiteColor;
  background: @activeColor;
}
// 默认移入手柄
.handleDefault {
  cursor: pointer;
}
// 默认边框
.borderDefault {
  border: 1px solid #ebeef5;
}
.transitionDefault {
  transition: .3s ease-in;
}
.paddingAllDefault {
  padding: @defaultSize * 1.5;
}
// 列边距
.paddingColDefault {
  .paddingAllDefault;
  padding-left: 0;
  padding-right: 0;
}
// 行边距
.paddingRowDefault {
  .paddingAllDefault;
  padding-top: 0;
  padding-bottom: 0;
}
.shadowDefault {
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
};

.boxCenter{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#hlAside,
#hlHeader,
#app,
#Home,
#Login,
#NotFound,
#table-page{
  height: 100%;
}

.hl-page-left-enter,
.hl-page-left-leave-active {
  opacity: 0;
}
.hl-page-left-enter {
  transform: translateX(30px);
}
.hl-page-left-leave-active {
  transform: translateX(-30px);
}
.hl-page-left-enter-active, 
.hl-page-left-leave-active {
  transition: .3s all ease;
}

/* breadcrumb transition */
.hl-breadcrumb-enter-active,
.hl-breadcrumb-leave-active {
  transition: .5s all ease;
}

.hl-breadcrumb-enter,
.hl-breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.hl-breadcrumb-move {
  transition: .5s all ease;
}

.hl-breadcrumb-leave-active {
  position: absolute;
}

.el-button--active {
  color: @whiteColor;
  background-color: @activeColor;
  border-color: @activeColor;
}
.el-button--active:focus,
.el-button--active:hover {
  color: @whiteColor;
  background-color: @activeColorHover;
  border-color: @activeColorHover;
}